# -----------------------------
# VS Code
# -----------------------------
.vscode

# -----------------------------
# Build Folder
# -----------------------------
Emuflix/build/
compile_commands.json
.clangd